<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{welcome.titulo}">Esta es una zona privada la web</h3>
		<p>
			<span th:text="#{welcome.autenticado}"></span><span
				sec:authentication="principal.username"></span>
		</p>
		<p th:text="#{welcome.marks}">Notas del usuario</p>
		<div th:replace="fragments/marksTable"></div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>